html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body.no-scroll {
  overflow: hidden;
}

.m-nav, .m-nav * {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.m-nav,
.m-nav * {
  box-sizing: border-box;
}
.m-nav {
  z-index: 100000;
  position: fixed;
  top: 0;
  width: 100%;
  flex-direction: column;
  font-family: 'Akzidenz Grotesk BQ Light';
}
.m-nav a {
  cursor: pointer;
  color: #589636;
  text-decoration: none;
}
.m-nav input,
.m-nav button {
  outline: 0;
  font-size: 14px;
}
.m-nav input {
  height: 32px;
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  padding: 0 15px;
}
.m-nav button {
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  margin: 0;
  padding: 15px 40px;
  background-color: transparent;
  color: #fff;
  border: 0;
  border-radius: 4px;
}
.m-nav ul {
  margin: 0;
  padding: 0;
}
.m-nav ul li {
  list-style-type: none;
}
.m-nav strong {
  font-family: 'Akzidenz Grotesk BQ Medium';
}
.m-nav-top,
.m-nav-middle {
  width: 1200px;
}
.m-nav-top,
.m-nav-middle,
.m-nav-bottom {
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 1200px;
  font-size: 14px;
}
@media (max-width: 1200px) {
  .m-nav-top,
  .m-nav-middle,
  .m-nav-bottom {
    max-width: 100%;
  }
}
@media (max-width: 895px) {
  .m-nav-top,
  .m-nav-middle,
  .m-nav-bottom {
    width: 100%;
  }
}
.m-nav-bg {
  overflow-y: scroll;
  z-index: 90;
  position: fixed;
  left: 0;
  top: 0;
  height: 600px;
  width: 100%;
  padding: 200px 0 0 0;
  background-color: rgba(43,44,46,0.95);
  transition: opacity 300ms, transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  transform: translate3d(0, -505px, 0);
}
@media (max-width: 895px) {
  .m-nav-bg {
    height: calc(100% - 95px);
    padding: 0;
    margin: 95px 0 0 0;
    transform: translate3d(0, -100%, 0);
  }
}
.m-nav-bg-opaque {
  opacity: 1;
}
.m-nav-bg-open {
  transform: translate3d(0, -100px, 0);
}
@media (max-width: 895px) {
  .m-nav-bg-open {
    transform: translate3d(0, 0, 0);
  }
}
.m-nav-flex-y,
.m-nav-flex-x,
.m-nav-flex-xy,
.m-nav-flex-space {
  display: flex;
  flex-wrap: wrap;
}
.m-nav-flex-xy,
.m-nav-flex-y {
  align-items: center;
}
.m-nav-flex-xy,
.m-nav-flex-x {
  justify-content: center;
}
.m-nav-flex-space {
  justify-content: space-between;
}
.m-nav-flex-nowrap {
  flex-wrap: nowrap;
}
.m-nav-top {
  overflow: hidden;
  height: 45px;
  padding: 0 20px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}
.m-nav-top > ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.m-nav-top a {
  z-index: 10;
  color: #616161;
  text-decoration: none;
}
.m-nav-top a:hover {
  text-decoration: none;
}
.m-nav-top-links {
  margin-left: 0;
  transition: 200ms cubic-bezier(0.23, 1, 0.32, 1);
  will-change: margin-left;
}
.m-nav-top-links li {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 12px;
}
@media (max-width: 895px) {
  .m-nav-top-links li {
    margin-right: 13px;
  }
}
.m-nav-top-links li:before {
  content: '';
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: #616161;
  transform: scale(0, 1);
  transform-origin: 0 50%;
  transition: 250ms;
}
.m-nav-top-links li:hover:before {
  transform: scale(1, 1);
}
.m-nav-top-links-hidden {
  margin-left: -250px;
  opacity: 0;
}
.m-nav-search {
  overflow: hidden;
}
input.m-nav-search-input {
  width: 200px;
  margin: 3px -210px 0 10px;
  padding: 0 30px 0 0;
  border: 0;
  border-bottom: 2px solid #b7b7b7;
  border-radius: 0;
  opacity: 0;
  transition: opacity 200ms, margin 500ms cubic-bezier(0.23, 1, 0.32, 1);
}
input.m-nav-search-input-open {
  margin: 3px -35px 0 10px;
  opacity: 1;
}
button.m-nav-top-contact,
button.m-nav-search-btn {
  padding: 10px;
}
button.m-nav-search-btn {
  z-index: 1;
  margin-right: 10px;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transform: scale(1);
}
button.m-nav-search-btn-active {
  transform: scale(0.75);
}
button.m-nav-top-dl,
button.m-nav-top-host {
  transition: 150ms;
}
button.m-nav-top-dl span,
button.m-nav-top-host span {
  vertical-align: middle;
}
button.m-nav-top-dl svg,
button.m-nav-top-host svg {
  margin-left: 10px;
  vertical-align: middle;
}
@media (max-width: 895px) {
  button.m-nav-top-dl,
  button.m-nav-top-host {
    padding: 5px 15px !important;
  }
  button.m-nav-top-dl span,
  button.m-nav-top-host span {
    display: none;
  }
  button.m-nav-top-dl svg,
  button.m-nav-top-host svg {
    margin-left: 0;
  }
}
button.m-nav-top-dl {
  padding: 5px 30px;
  font-size: 14px;
  background-color: #7fc857;
}
button.m-nav-top-dl:hover {
  background-color: #589636;
}
button.m-nav-top-host {
  padding: 4px 29px;
  margin-right: 5px;
  color: #7fc857;
  border: 1px solid #7fc857;
}
button.m-nav-top-host:hover {
  color: #569732;
  border: 1px solid #569732;
}
@media (max-width: 895px) {
  button.m-nav-top-host {
    display: none !important;
  }
}
.m-nav-middle {
  height: 50px;
}
@media (max-width: 895px) {
  .m-nav-middle {
    background-color: rgba(43,44,46,0.95);
  }
}
.m-nav-middle a:hover {
  text-decoration: none;
}
.m-nav-middle ul {
  height: 100%;
  flex-wrap: nowrap;
}
.m-nav-middle ul div {
  flex-wrap: nowrap;
}
.m-nav-middle li {
  -webkit-user-select: none;
          user-select: none;
  position: relative;
  margin: 0 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}
.m-nav-middle li img {
  position: absolute;
  top: -3px;
  height: inherit;
}
.m-nav-middle li a {
  cursor: pointer;
  color: #fff;
  display: block;
  padding: 20px 12.5px;
}
.m-nav-middle-lists {
  transition: opacity 300ms;
}
.m-nav-middle-li a {
  color: #fff;
}
.m-nav-middle-li:before {
  content: '';
  position: absolute;
  left: 12.5px;
  bottom: 12px;
  width: calc(100% - 25px);
  height: 3px;
  background-color: #f5f6f7;
  transform: scale(0, 1);
  transform-origin: 0 50%;
  transition: 250ms;
}
.m-nav-middle-li:not(.m-nav-middle-li-on):hover:before {
  transform: scale(0.25, 1);
}
.m-nav-middle-li-on:before {
  background-color: #7fc857;
  transform: scale(1, 1);
}
.m-nav-logo {
  width: 110px;
  height: 30px;
  margin: 0 0 0 15px !important;
  padding: 0;
}
@media (max-width: 895px) {
  .m-nav-logo {
    margin: 10px 0 10px 12.5px;
  }
}
.m-nav-tagline {
  height: 50%;
  border-left: 1px solid #fff;
  margin-left: 15px !important;
  padding: 0 15px;
  font-weight: 300;
  font-size: 12px;
  line-height: 2.2;
}
.m-nav-middle-toggle {
  display: none;
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  height: inherit;
  width: inherit;
  margin: 10px !important;
  fill: #fff;
}
@media (max-width: 895px) {
  .m-nav-middle-toggle {
    display: block;
  }
}
.m-nav-middle-toggle button {
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
}
.m-nav-middle-toggle button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.m-nav-middle-toggle svg {
  width: inherit;
  height: inherit;
}
.m-nav-bottom ul {
  padding: 20px 0;
  width: 20%;
}
@media (max-width: 895px) {
  .m-nav-bottom ul {
    width: 100%;
    padding: 5px 20px;
  }
}
.m-nav-bottom li {
  padding: 4px;
  font-size: 16px;
}
@media (max-width: 895px) {
  .m-nav-bottom li {
    padding: 10px 5px;
  }
}
.m-nav-bottom li small {
  display: block;
}
.m-nav-bottom a {
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  transition: 300ms;
}
.m-nav-bottom a:hover {
  color: #7fc857;
}
.m-nav-bottom a strong,
.m-nav-bottom li strong {
  position: relative;
  color: #7fc857;
}
.m-nav-bottom a strong:before {
  content: '';
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: #7fc857;
  transform: scale(0, 1);
  transform-origin: 0 50%;
  transition: 250ms;
}
.m-nav-bottom a strong:hover:before {
  transform: scale(1, 1);
}
.m-nav-bottom-list {
  z-index: 1;
  position: absolute;
  width: inherit;
  transition: opacity 200ms;
}
@media (max-width: 895px) {
  .m-nav-bottom-list {
    position: relative;
  }
}
.m-nav-bottom-list-inactive {
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 895px) {
  .nav-panel-bottom__dummy-section {
    display: none;
  }
}
.m-nav-cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 30%;
  padding: 30px;
  margin: 20px;
  border: 0.5px solid #979797;
}
@media (max-width: 895px) {
  .m-nav-cta {
    width: 100%;
  }
}
@media (max-width: 895px) {
  .m-nav-cta:not(.m-nav-cta-first) {
    display: none;
  }
}
.m-nav-cta ul {
  width: 100%;
  padding: 0;
}
.m-nav-cta h2,
.m-nav-cta a {
  width: 100%;
}
.m-nav-cta h2 {
  margin: 0 0 10px 0;
  color: #fff;
  font-size: 30px;
}
@media (max-width: 700px) {
  .m-nav-cta h2 {
    font-size: 26px;
  }
}
.m-nav-cta a {
  display: block;
  padding: 5px 0;
  color: #7fc857 !important;
}
.bg--white {
  background-color: #fff;
}
.bg--light-grey,
.bg--light-gray {
  background-color: #f5f6f7;
}
.bg--dark-grey,
.bg--dark-gray {
  background-color: #424242;
}
.bg--light-green {
  background-color: #7fc857;
}
.bg--dark-green {
  background-color: #589636;
}
.bg--light-blue {
  background-color: #00acc1;
}
.bg--dark-blue {
  background-color: #00838f;
}
.bg--light-red {
  background-color: #dd4661;
}
.bg--dark-red {
  background-color: #ce3752;
}
.bg--light-orange {
  background-color: #fb8c00;
}
.bg--dark-orange {
  background-color: #ef6c00;
}
.bg--blackish {
  background-color: #212121;
}
.bg--translucent-black {
  background-color: rgba(0,0,0,0.85);
}
.border--light-green {
  border-color: #7fc857 !important;
}
.border--light-blue {
  border-color: #00acc1 !important;
}
.border--dark-grey,
.border--dark-gray {
  border-color: #757575 !important;
}
.border--light-orange {
  border-color: #fb8c00 !important;
}
.border--light-red {
  border-color: #dd4661 !important;
}
.border--lightest-grey,
.border--lightest-gray {
  border-color: #f0f1f3 !important;
}
.font--light-grey,
.font--light-gray {
  color: #f5f6f7;
}
.font--dark-grey,
.font--dark-gray {
  color: #424242;
}
.font--white {
  color: #fff;
}
.font--light-green {
  color: #7fc857;
}
.font--light-blue {
  color: #00acc1;
}
.font--light-orange {
  color: #fb8c00;
}
.font--light-red {
  color: #dd4661;
}
@font-face {
  font-family: 'Akzidenz Grotesk BQ Light';
  src: url("/assets/fonts/akzidenzgroteskbq_light-webfont.eot");
  src: url("/assets/fonts/akzidenzgroteskbq_light-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/akzidenzgroteskbq_light-webfont.woff2") format('woff2'), url("/assets/fonts/akzidenzgroteskbq_light-webfont.woff") format('woff'), url("/assets/fonts/akzidenzgroteskbq_light-webfont.ttf") format('truetype'), url("/assets/fonts/akzidenzgroteskbq_light-webfont.svg#akzidenz-grotesk_bq_lightRg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Akzidenz Grotesk BQ Medium';
  src: url("/assets/fonts/akzidenzgroteskbq_medium-webfont.eot");
  src: url("/assets/fonts/akzidenzgroteskbq_medium-webfont.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/akzidenzgroteskbq_medium-webfont.woff2") format('woff2'), url("/assets/fonts/akzidenzgroteskbq_medium-webfont.woff") format('woff'), url("/assets/fonts/akzidenzgroteskbq_medium-webfont.ttf") format('truetype'), url("/assets/fonts/akzidenzgroteskbq_medium-webfont.svg#akzidenz-grotesk_bqmedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DIN';
  src: url("/assets/fonts/DINWeb-Light.woff");
}
@font-face {
  font-family: 'DIN';
  src: url("/assets/fonts/DINWeb-Bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: 'SourceCodePro';
  src: url("/assets/fonts/SourceCodePro-Regular.otf");
}
@font-face {
  font-family: 'SourceCodePro';
  src: url("/assets/fonts/SourceCodePro-Semibold.otf");
  font-weight: bold;
}
@font-face {
  font-family: 'icomoon';
  src: url("/assets/fonts/icomoon.eot");
  src: url("/assets/fonts/icomoon.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/icomoon.ttf") format('truetype'), url("/assets/fonts/icomoon.woff") format('woff'), url("/assets/fonts/icomoon.svg#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-font-smoothing: subpixel-antialiased;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.icon-presentation:before {
  content: "\e609";
}
.icon-lightbulb:before {
  content: "\e60a";
}
.icon-world:before {
  content: "\e60b";
}
.icon-in:before {
  content: "\e600";
}
.icon-library:before {
  content: "\e611";
}
.icon-phone:before {
  content: "\e601";
}
.icon-calendar:before {
  content: "\e60c";
}
.icon-share:before {
  content: "\e613";
}
.icon-google-plus-square:before {
  content: "\e602";
}
.icon-facebook:before {
  content: "\e60d";
}
.icon-facebook-square:before {
  content: "\e603";
}
.icon-twitter:before {
  content: "\e60e";
}
.icon-twitter-square:before {
  content: "\e604";
}
.icon-play:before {
  content: "\e612";
}
.icon-youtube:before {
  content: "\e60f";
}
.icon-github:before {
  content: "\e610";
}
.icon-linux:before {
  content: "\e606";
}
.icon-apple:before {
  content: "\e607";
}
.icon-windows:before {
  content: "\e608";
}
.icon-linkedin-square:before {
  content: "\e605";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-life-bouy:before {
  content: "\f1cd";
}
.icon-monitor:before {
  content: "\e021";
}
.icon-search:before {
  content: "\e036";
}
.icon-circle-check:before {
  content: "\e042";
}
.icon-circle-cross:before {
  content: "\e043";
}
.icon-check:before {
  content: "\e116";
}
.icon-cross:before {
  content: "\e117";
}
.icon-menu:before {
  content: "\e120";
}
.icon-open:before {
  content: "\e128";
}
.no-decor {
  text-decoration: none !important;
  color: inherit;
}
.no-decor * {
  text-decoration: none !important;
}
body,
input {
  font-family: Akzidenz Grotesk BQ Light, Helvetica;
  color: #424242;
}
strong,
button,
b,
.bold {
  font-family: Akzidenz Grotesk BQ Medium, Helvetica;
  font-weight: 300;
}
label {
  cursor: pointer;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 15px 0;
  font-weight: 300;
  line-height: 1.25em;
}
small {
  font-weight: 300;
  line-height: 1.5em;
  font-size: 13px;
}
h1 {
  font-size: 48px;
}
@media (max-width: 700px) {
  h1 {
    font-size: 38px;
  }
}
h2 {
  font-size: 30px;
}
@media (max-width: 700px) {
  h2 {
    font-size: 26px;
  }
}
h3 {
  font-size: 24px;
}
@media (max-width: 700px) {
  h3 {
    font-size: 20px;
  }
}
h4 {
  font-size: 20px;
}
@media (max-width: 700px) {
  h4 {
    font-size: 18px;
  }
}
p {
  font-size: 16px;
  line-height: 1.5em;
}
em {
  font-style: italic;
}
.text--center,
.font--center {
  text-align: center;
}
.text--right,
.font--right {
  text-align: right;
}
.text--left,
.font--left {
  text-align: left;
}
.pointer {
  cursor: pointer;
}
.uppercase {
  text-transform: uppercase;
}
blockquote img {
  height: 26px;
  margin: 15px 0;
}
blockquote.font--white p:before,
.font--white blockquote p:before {
  color: #fff;
}
blockquote p,
.block-quote {
  position: relative;
  font-size: 20px;
}
blockquote p:before,
.block-quote:before {
  content: '\201C';
  position: absolute;
  left: -26px;
  top: 14px;
  font-size: 60px;
  color: #7fc857;
}
blockquote p:after,
.block-quote:after {
  content: '”';
}
blockquote footer:before,
.block-quote__author:before {
  content: '— ';
}
.glyphicon-ok:before {
  content: '✓';
}
pre {
  overflow-y: auto;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.share-icons {
  position: relative;
  width: 120px;
  height: 40px;
  padding: 10px 0;
  color: #999;
  font-size: 18px;
  transition: all 0.2s ease;
}
.share-icons .share-icon,
.share-icons a {
  position: absolute;
  right: 0;
  height: 18px;
  font-size: 18px;
}
@media (min-width: 700px) {
  .share-icons .share-icon {
    transition: all 0.2s cubic-bezier(0, 0.97, 0.8, 1);
    opacity: 1;
  }
}
@media (max-width: 700px) {
  .share-icons .share-icon {
    opacity: 0;
  }
}
@media (min-width: 700px) {
  .share-icons a {
    transition: all 0.2s cubic-bezier(0, 0.97, 0.8, 1);
    opacity: 0;
    color: inherit !important;
  }
}
@media (max-width: 700px) {
  .share-icons a {
    opacity: 1;
  }
  .share-icons a.icon-twitter-square {
    right: 30px;
  }
  .share-icons a.icon-linkedin-square {
    right: 60px;
  }
}
.share-icons a.icon-facebook-square:hover {
  color: #3b5998 !important;
}
.share-icons a.icon-twitter-square:hover {
  color: #4099ff !important;
}
.share-icons a.icon-linkedin-square:hover {
  color: #0077b5 !important;
}
.share-icons a:hover {
  text-decoration: none !important;
}
@media (min-width: 700px) {
  .share-icons:hover > .share-icon {
    opacity: 0;
  }
  .share-icons:hover > a {
    opacity: 1;
  }
  .share-icons:hover > a.icon-twitter-square {
    right: 30px;
  }
  .share-icons:hover > a.icon-linkedin-square {
    right: 60px;
  }
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
label {
  display: block;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.display--inline-block {
  display: inline-block;
}
.top {
  top: 0;
}
.left {
  left: 0;
}
.bottom {
  bottom: 0;
}
.right {
  right: 0;
}
.flex {
  display: flex;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--center-x {
  justify-content: center;
}
.flex--center-y {
  align-items: center;
}
.flex--center-all {
  justify-content: center;
  align-items: center;
  align-content: center;
}
.flex--right {
  justify-content: flex-end;
}
.flex--space-between {
  justify-content: space-between;
}
.flex--space-around {
  justify-content: space-around;
}
.flex-align-items--start {
  align-items: flex-start;
}
.flex--vertical {
  flex-direction: column;
}
.flex--2 {
  flex: 2;
}
.flex--3 {
  flex: 3;
}
.flex--4 {
  flex: 4;
}
.flex--5 {
  flex: 5;
}
.block {
  width: 540px;
  max-width: 100%;
  padding: 20px 30px;
}
@media (max-width: 700px) {
  .block {
    padding: 20px 50px;
  }
}
.block--xs {
  width: 180px;
}
.block--sm {
  width: 270px;
}
@media (max-width: 700px) {
  .block--sm {
    width: 100%;
  }
}
.block--ms {
  width: 360px;
}
@media (max-width: 700px) {
  .block--ms {
    width: 100%;
  }
}
.block--md {
  width: 360px;
}
@media (max-width: 700px) {
  .block--md {
    width: 100%;
  }
}
.block--ml {
  width: 654px;
}
.block--lg {
  width: 870px;
}
.block--xl {
  width: 1140px;
}
.block--xxl {
  width: 1410px;
}
.block--half-x,
.block--half {
  width: 50%;
}
@media (max-width: 700px) {
  .block--half-x,
  .block--half {
    width: 100%;
  }
}
.block--third-x,
.block--third {
  width: 33%;
}
@media (max-width: 700px) {
  .block--third-x,
  .block--third {
    width: 100%;
  }
}
.block--two-third-x,
.block--two-third {
  width: 66%;
}
@media (max-width: 700px) {
  .block--two-third-x,
  .block--two-third {
    width: 100%;
  }
}
.block--fourth-x,
.block--fourth {
  width: 25%;
}
@media (max-width: 700px) {
  .block--fourth-x,
  .block--fourth {
    width: 100%;
  }
}
.block--full-x,
.block--full {
  width: 100%;
}
.block--full-all {
  width: 100%;
  height: 100%;
}
.block--full-y {
  height: 100%;
}
.block--center {
  margin: auto;
}
.block--square.block--sm {
  height: 270px;
}
.block--square.block--md {
  height: 360px;
}
.block--square.block--lg {
  height: 870px;
}
.block--square.block--xl {
  height: 1140px;
}
@media (max-width: 700px) {
  .block > .block,
  [class^='block--'] > .block {
    padding-left: 0;
    padding-right: 0;
  }
}
.margin--xxs {
  margin: 10px;
}
.padding--xxs {
  padding: 10px;
}
.margin--none {
  margin: 0px;
}
.margin--vertical-none {
  margin-top: 0px;
  margin-bottom: 0px;
}
.margin--horizontal-none {
  margin-left: 0px;
  margin-right: 0px;
}
.margin--bottom-none {
  margin-bottom: 0px;
}
.margin--top-none {
  margin-top: 0px;
}
.margin--left-none {
  margin-left: 0px;
}
.margin--right-none {
  margin-right: 0px;
}
.margin--xs {
  margin: 15px;
}
.margin--vertical-xs {
  margin-top: 15px;
  margin-bottom: 15px;
}
.margin--horizontal-xs {
  margin-left: 15px;
  margin-right: 15px;
}
.margin--bottom-xs {
  margin-bottom: 15px;
}
.margin--top-xs {
  margin-top: 15px;
}
.margin--left-xs {
  margin-left: 15px;
}
.margin--right-xs {
  margin-right: 15px;
}
.margin--sm {
  margin: 30px;
}
.margin--vertical-sm {
  margin-top: 30px;
  margin-bottom: 30px;
}
.margin--horizontal-sm {
  margin-left: 30px;
  margin-right: 30px;
}
.margin--bottom-sm {
  margin-bottom: 30px;
}
.margin--top-sm {
  margin-top: 30px;
}
.margin--left-sm {
  margin-left: 30px;
}
.margin--right-sm {
  margin-right: 30px;
}
.margin--md {
  margin: 45px;
}
.margin--vertical-md {
  margin-top: 45px;
  margin-bottom: 45px;
}
.margin--horizontal-md {
  margin-left: 45px;
  margin-right: 45px;
}
.margin--bottom-md {
  margin-bottom: 45px;
}
.margin--top-md {
  margin-top: 45px;
}
.margin--left-md {
  margin-left: 45px;
}
.margin--right-md {
  margin-right: 45px;
}
.margin--lg {
  margin: 60px;
}
.margin--vertical-lg {
  margin-top: 60px;
  margin-bottom: 60px;
}
.margin--horizontal-lg {
  margin-left: 60px;
  margin-right: 60px;
}
.margin--bottom-lg {
  margin-bottom: 60px;
}
.margin--top-lg {
  margin-top: 60px;
}
.margin--left-lg {
  margin-left: 60px;
}
.margin--right-lg {
  margin-right: 60px;
}
.margin--xl {
  margin: 75px;
}
.margin--vertical-xl {
  margin-top: 75px;
  margin-bottom: 75px;
}
.margin--horizontal-xl {
  margin-left: 75px;
  margin-right: 75px;
}
.margin--bottom-xl {
  margin-bottom: 75px;
}
.margin--top-xl {
  margin-top: 75px;
}
.margin--left-xl {
  margin-left: 75px;
}
.margin--right-xl {
  margin-right: 75px;
}
.padding--none {
  padding: 0px;
}
.padding--vertical-none {
  padding-top: 0px;
  padding-bottom: 0px;
}
.padding--horizontal-none {
  padding-left: 0px;
  padding-right: 0px;
}
.padding--bottom-none {
  padding-bottom: 0px;
}
.padding--top-none {
  padding-top: 0px;
}
.padding--left-none {
  padding-left: 0px;
}
.padding--right-none {
  padding-right: 0px;
}
.padding--xs {
  padding: 15px;
}
.padding--vertical-xs {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding--horizontal-xs {
  padding-left: 15px;
  padding-right: 15px;
}
.padding--bottom-xs {
  padding-bottom: 15px;
}
.padding--top-xs {
  padding-top: 15px;
}
.padding--left-xs {
  padding-left: 15px;
}
.padding--right-xs {
  padding-right: 15px;
}
.padding--sm {
  padding: 30px;
}
.padding--vertical-sm {
  padding-top: 30px;
  padding-bottom: 30px;
}
.padding--horizontal-sm {
  padding-left: 30px;
  padding-right: 30px;
}
.padding--bottom-sm {
  padding-bottom: 30px;
}
.padding--top-sm {
  padding-top: 30px;
}
.padding--left-sm {
  padding-left: 30px;
}
.padding--right-sm {
  padding-right: 30px;
}
.padding--md {
  padding: 45px;
}
.padding--vertical-md {
  padding-top: 45px;
  padding-bottom: 45px;
}
.padding--horizontal-md {
  padding-left: 45px;
  padding-right: 45px;
}
.padding--bottom-md {
  padding-bottom: 45px;
}
.padding--top-md {
  padding-top: 45px;
}
.padding--left-md {
  padding-left: 45px;
}
.padding--right-md {
  padding-right: 45px;
}
.padding--lg {
  padding: 60px;
}
.padding--vertical-lg {
  padding-top: 60px;
  padding-bottom: 60px;
}
.padding--horizontal-lg {
  padding-left: 60px;
  padding-right: 60px;
}
.padding--bottom-lg {
  padding-bottom: 60px;
}
.padding--top-lg {
  padding-top: 60px;
}
.padding--left-lg {
  padding-left: 60px;
}
.padding--right-lg {
  padding-right: 60px;
}
.padding--xl {
  padding: 75px;
}
.padding--vertical-xl {
  padding-top: 75px;
  padding-bottom: 75px;
}
.padding--horizontal-xl {
  padding-left: 75px;
  padding-right: 75px;
}
.padding--bottom-xl {
  padding-bottom: 75px;
}
.padding--top-xl {
  padding-top: 75px;
}
.padding--left-xl {
  padding-left: 75px;
}
.padding--right-xl {
  padding-right: 75px;
}
.divider--horizontal {
  max-width: 100%;
  width: 100%;
  height: 1px;
  border-bottom: solid 1px #dadde1;
}
.bg-image {
  background-repeat: no-repeat;
}
.bg-image--cover {
  background-size: cover;
}
.bg-image--contain {
  background-size: contain;
}
.bg-image--center {
  background-position: 50%;
}
.bg-image__translucent-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
.ellipse {
  border-radius: 100%;
}
.bullets {
  list-style: inherit;
  padding-left: 20px;
}
.box-shadow {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
}
code,
.inline-code {
  padding: 0.2em;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  borde-radius: 3px;
}
.border {
  border: 1px solid #bec5cb;
}
.border--curved {
  border-radius: 5px;
}
.border--vertical {
  border-top: 1px solid #bec5cb;
  border-bottom: 1px solid #bec5cb;
}
.border--left {
  border-left: 1px solid #bec5cb;
}
.border--right {
  border-right: 1px solid #bec5cb;
}
.border--top {
  border-top: 1px solid #bec5cb;
}
.border--bottom {
  border-bottom: 1px solid #bec5cb;
}
.table-1-2 td,
.table-1-2 th {
  width: 40%;
}
.table-1-2 td:first-child,
.table-1-2 th:first-child {
  width: 60%;
}
.table-1-5 td,
.table-1-5 th {
  width: 18%;
}
.table-1-5 td:first-child,
.table-1-5 th:first-child {
  width: 26%;
}
.clickable:hover {
  cursor: pointer;
}
a {
  cursor: pointer;
  color: #589636;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.m-nav a:hover {
  text-decoration: none !important;
}
input,
button,
select,
textarea {
  outline: 0;
}
input {
  border: solid 1px #e0e0e0;
}
button {
  cursor: pointer;
  margin: 0;
  background-color: transparent;
  border: 0;
}
select {
  display: inline-block;
  padding: 10px;
  box-shadow: none;
  background: #fff;
  border: 1px solid #c8bfc4;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
.no-select {
  -webkit-user-select: none;
          user-select: none;
}
.a--no-decoration {
  color: inherit;
}
.a--no-decoration:hover {
  text-decoration: none;
}
.a--no-decoration:visited {
  color: inherit;
}
.input {
  height: 32px;
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  padding: 0 15px;
}
.input,
.btn,
.btn-fill,
.btn-hollow {
  font-size: 14px;
}
.btn-primary,
.btn-success,
.btn,
.btn-fill,
.btn-hollow {
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 15px 40px;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
}
.btn-fill,
.btn-hollow {
  border: 1px solid;
}
.btn-hollow {
  border-color: #fff;
}
.btn-small,
.btn--small {
  padding: 8px 30px;
}
.btn-primary,
.btn-success {
  display: inline-block;
  text-decoration: none !important;
  margin: 15px 0;
  font-family: Akzidenz Grotesk BQ Medium, Helvetica;
  border: 0;
}
.btn-primary,
.btn-success,
.btn-fill--light-green {
  background-color: #7fc857;
  border-color: #7fc857;
}
.btn-fill--light-orange {
  background-color: #fb8c00;
  border-color: #fb8c00;
}
.btn-fill--light-blue {
  background-color: #00acc1;
  border-color: #00acc1;
}
.btn-fill--light-red {
  background-color: #dd4661;
  border-color: #dd4661;
}
.btn-fill--teal {
  background-color: #15aa9a;
  border-color: #15aa9a;
}
.btn-fill--dark-gray,
.btn-fill--dark-grey {
  background-color: #424242;
}
.btn-fill--light-grey,
.btn-fill--light-gray {
  background-color: #8a8d8b;
}
.btn-fill--white {
  background-color: #fff;
  border-color: #fff;
  color: #7fc857;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.1);
}
.btn-hollow {
  border: 1px solid #fff;
}
.btn-hollow--light-green {
  border-color: #7fc857;
  color: #7fc857;
}
.btn-hollow--light-blue {
  border-color: #00acc1;
  color: #00acc1;
}
.btn-hollow--grey,
.btn-hollow--gray {
  border-color: #616161;
  color: #616161;
}
.tab-hollow--green {
  width: 200px;
  color: #333;
  padding: 8px 24px;
  border: 1px solid #eee;
  border-radius: 0;
}
.tab-hollow--green:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.tab-hollow--green:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.tab-hollow--green.selected {
  background-color: #7fc857;
  border-color: #7fc857;
  color: #fff;
}
.card {
  width: 280px;
  height: 320px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
}
.card--border {
  border: solid 1px #e0e0e0;
}
.card__title {
  width: 100%;
  height: 48px;
  font-family: AkzidenzGroteskStd-Md;
  line-height: 1.5;
  border-bottom: solid 1px #e0e0e0;
}
.card__title--grey,
.card__title--gray {
  color: #424242;
  background-color: #f5f6f7;
  border-bottom: solid 1px #e0e0e0;
}
.lightbox {
  z-index: 1000000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}
.lightbox__activator {
  position: relative;
}
.lightbox__activator-icon,
.lightbox__close {
  cursor: pointer;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.lightbox__activator-icon {
  top: 50%;
  left: 50%;
  width: 90px;
  margin: -45px;
}
.lightbox__close svg path {
  fill: #fff;
}
.lightbox__activator-icon:hover {
  transform: scale(0.95);
}
.lightbox__close {
  top: 10px;
  right: 10px;
}
@media (max-height: 850px) {
  .lightbox__content {
    display: block;
  }
  .lightbox__content > * {
    margin: auto;
  }
}
@media (max-width: 500px) {
  .lightbox__close {
    position: relative;
    top: 0;
    left: 0;
  }
  .lightbox__close svg {
    float: right;
    height: 50px;
    width: 50px;
    padding: 8px;
  }
}
.form-default textarea {
  height: 80px;
  max-width: 100%;
}
.form-default input:not([type='submit']) {
  border: 1px solid #c8bfc4;
  background: #fff;
}
.form-default input[type='submit'] {
  height: auto;
  font-family: Akzidenz Grotesk BQ Medium, Helvetica;
  border: 0;
}
.form-default input,
.form-default select {
  height: 34px;
}
.form-default input:not([type='checkbox']):not([type='submit']),
.form-default select,
.form-default textarea {
  width: 100%;
  padding: 6px 12px;
  margin: 8px 0 14px 0;
  font-size: 14px;
  color: #424242;
  line-height: 1.42857143;
  border: 1px solid #c8bfc4;
  border-radius: 4px;
}
.form-default input:not([type='checkbox']):not([type='submit']):focus,
.form-default select:focus,
.form-default textarea:focus {
  border-color: #7fc857;
}
.form-default--invalid *:invalid {
  border-color: #dd4661 !important;
}
#demandbase-autocomplete .ui-autocomplete {
  width: 300px;
}
#demandbase-autocomplete .ui-menu-item .ui-corner-all {
  color: #424242;
  font-size: 15px;
  line-height: 1.5em;
  font-family: Akzidenz Grotesk BQ Light, Helvetica;
}
#demandbase-autocomplete .ui-menu-item .ui-corner-all.ui-state-hover {
  border: 1px solid transparent;
  background: #e3e3e3;
}
.form-error {
  max-width: 360px;
  padding: 15px;
  font-size: 14px;
  text-align: center;
}
@media (max-width: 550px) {
  .form-error {
    width: 100%;
  }
}
.form-error {
  border: 1px solid #dd4661;
  background-color: rgba(255,221,221,0.54);
}
.animation--fadezoom-in {
  position: relative;
  display: block;
  opacity: 0;
  transform: scale(0.95);
  animation-name: fadezoom-in;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-fill-mode: forwards;
}
.animation--fadezoom-in:nth-child(1) {
  animation-delay: 0ms;
}
.animation--fadezoom-in:nth-child(2) {
  animation-delay: 40ms;
}
.animation--fadezoom-in:nth-child(3) {
  animation-delay: 80ms;
}
.animation--fadezoom-in:nth-child(4) {
  animation-delay: 120ms;
}
.animation--fadezoom-in:nth-child(5) {
  animation-delay: 160ms;
}
.animation--fadezoom-in:nth-child(6) {
  animation-delay: 200ms;
}
.animation--fadezoom-in:nth-child(7) {
  animation-delay: 240ms;
}
.animation--fadezoom-in:nth-child(8) {
  animation-delay: 280ms;
}
.animation--fadezoom-in:nth-child(9) {
  animation-delay: 320ms;
}
.animation--fadezoom-in:nth-child(10) {
  animation-delay: 360ms;
}
.animation--fadezoom-in:nth-child(11) {
  animation-delay: 400ms;
}
.animation--fadezoom-in:nth-child(12) {
  animation-delay: 440ms;
}
.animation--fadezoom-in:nth-child(13) {
  animation-delay: 480ms;
}
.animation--fadezoom-in:nth-child(14) {
  animation-delay: 520ms;
}
.animation--fadezoom-in:nth-child(15) {
  animation-delay: 560ms;
}
.animation--fadezoom-in:nth-child(16) {
  animation-delay: 600ms;
}
.animation--fadezoom-in:nth-child(17) {
  animation-delay: 640ms;
}
.animation--fadezoom-in:nth-child(18) {
  animation-delay: 680ms;
}
.animation--fadezoom-in:nth-child(19) {
  animation-delay: 720ms;
}
.animation--fadezoom-in:nth-child(20) {
  animation-delay: 760ms;
}
.animation--fade-in {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-fill-mode: forwards;
}
.animation--slidein-leave {
  opacity: 0;
  animation-name: slidein-leave;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  transform: translate3d(0, 100px, 0);
}
.animation--slidein-enter {
  opacity: 1;
  animation-name: slidein-enter;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}
.animation--bounce {
  animation-name: bounce;
  animation-duration: 600ms;
}
.animation--bounce-inwards {
  animation-name: bounce-inwards;
  animation-duration: 600ms;
}
.transition--none {
  transition: none !important;
}
.transition {
  transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.transition--long {
  transition: 800ms cubic-bezier(0.23, 1, 0.32, 1);
}
.transition--faded {
  opacity: 0;
  pointer-events: none;
}
.transition-fadezoom {
  position: relative;
  display: block;
  transition: opacity 500ms, transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  transform: scale(0.95);
}
.transition-fadezoom--deep {
  transform: scale(0.8);
}
.transition-fadezoom--visible {
  opacity: 1;
  transform: scale(1);
}
.hover--zoom,
.hover--small-zoom,
.hover--lift,
.hover--right,
.hover--left,
.hover--earmark,
.hover--squeeze,
.hover--slant,
.hover--darken {
  transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.hover--small-zoom:hover {
  transform: scale(1.04);
}
.hover--zoom:hover {
  transform: scale(1.08);
}
.hover--squeeze:hover {
  transform: scale(0.97);
}
.hover--lift:hover {
  transform: translate3d(0, -6px, 0);
}
.hover--left:hover {
  transform: translate3d(-6px, 0, 0);
}
.hover--right:hover {
  transform: translate3d(6px, 0, 0);
}
.hover--slant {
  transform: rotate3d(0, 1, 0, 0.01deg);
}
.hover--slant:hover {
  transform: rotate3d(0, 1, 0, 5deg);
}
.hover--darken:hover {
  background-color: rgba(0,0,0,0.04) !important;
}
.hover--earmark {
  perspective: 500px;
}
.hover--earmark:before,
.hover--earmark:after {
  z-index: 0;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
}
.hover--earmark:before {
  border-width: 0 25px 25px 0;
  border-color: transparent #ddd transparent transparent;
}
.hover--earmark:after {
  border-width: 25px 0 0 25px;
  border-color: transparent transparent transparent #eee;
  transform: rotate3d(1, 1, 0, 180deg);
  transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hover--earmark:hover:after {
  transform: none;
}
.hover--underline-green:before {
  content: '';
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: #7fc857;
  transform: scale(0, 1);
  transform-origin: 0 50%;
  transition: 250ms;
}
.hover--underline-green:hover:before {
  transform: scale(1, 1);
}
.keyframes--hover {
  animation-name: keyframes--hover;
}
overflow: visible {
  position: relative;
  top: 50%;
  height: 110px;
  width: 100px;
  margin: -55px auto;
}
.keyframes--hover,
.keyframes--hover__shadow {
  display: block;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
}
.keyframes--hover__shadow {
  animation-name: keyframes--hover__shadow;
  position: absolute;
  width: 40px;
  height: 7px;
  bottom: -20px;
  left: 30px;
  border-radius: 100%;
  background-color: 100%;
  background-color: rgba(0,0,0,0.5);
}
@keyframes fadezoom-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slidein-leave {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
}
@keyframes slidein-enter {
  from {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1.025);
  }
  80% {
    transform: scale(0.975);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-inwards {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.95);
  }
  40% {
    transform: scale(1.05);
  }
  60% {
    transform: scale(0.975);
  }
  80% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes keyframes--hover {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes keyframes--hover__shadow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.overflow--hidden {
  overflow: hidden;
}
.overflow--scrollY {
  overflow-y: scroll;
}
.overflow--scrollX {
  overflow-x: scroll;
}
.overflow--scroll {
  overflow: scroll;
}
.state--hidden {
  display: none;
}
.state--no-opacity {
  opacity: 0;
}
.header {
  position: relative;
  overflow: hidden;
}
.header__content,
.header__h1,
.header__p {
  opacity: 0;
}
@media (max-width: 700px) {
  .header__h1 {
    font-size: 26px;
  }
}
.header__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
@media (max-width: 900px) {
  .header__video {
    height: 100%;
    width: auto;
    margin-left: -25%;
  }
}
.header__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 500ms;
}
.header__bg {
  top: 0;
  left: 0;
  transition: opacity 500ms;
}
.header__animation-chunk {
  max-width: 100%;
  opacity: 0;
  transform: translate3d(0, 35px, 0);
  animation-name: slideup-in;
  animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: forwards;
}
.header__animation-chunk:nth-child(1) {
  animation-delay: 0ms;
}
.header__animation-chunk:nth-child(2) {
  animation-delay: 300ms;
}
.header__animation-chunk:nth-child(3) {
  animation-delay: 600ms;
}
.header__animation-chunk:nth-child(4) {
  animation-delay: 900ms;
}
.header__animation-chunk:nth-child(5) {
  animation-delay: 1200ms;
}
@keyframes slideup-in {
  from {
    opacity: 0;
    transform: translate3d(0, 35px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.footer {
  color: #757575;
}
.footer ul li a {
  color: #757575;
}
.footer h4 {
  font-size: 14px;
}
.footer h3 {
  font-size: 14px;
  color: #7fc857;
  font-family: Akzidenz Grotesk BQ Medium, Helvetica;
}
.footer p,
.footer .list li > a {
  display: block;
  margin: 15px 0;
  font-size: 12px;
  color: #757575;
  line-height: 1.5em;
}
.footer .popular-topics li {
  display: inline-block;
  font-size: 12px;
  margin-right: 4px;
}
.footer .popular-topics li:not(:last-child):after {
  content: ', ';
}
.footer .popular-topics li a:hover {
  color: #7fc857 !important;
}
.footer__list {
  width: 195px;
  margin: 0 15px;
  max-width: 100%;
}
@media (max-width: 1150px) {
  .footer__list {
    width: calc(50% - 90px) !important;
    margin: 0 45px;
  }
}
@media (max-width: 550px) {
  .footer__list {
    width: 100% !important;
    margin: 0 45px;
  }
}

*:not(input[type=radio]):not(input[type=checkbox]) {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
}

.form--dirty input:invalid:not(:placeholder-shown) {
  border: 1px solid #dd4661 !important;
  background-color: rgba(255, 221, 221, 0.54) !important;
}

input:invalid {
  box-shadow: none !important;
}
.monospace {
  font-family: monospace !important;
  font-size: 1em;
}
.state--dragging {
  cursor: move !important;
}
